<<div class="container">
<h2>Contact me</h2>

<div id="texto" #textos>
	<p appResaltado >
		This is the contact page, contact us if you had any problem.
	</p>

</div>


	<!--Componente padre es contacto y 
		componente hijo es slider -->
	<!--Tamano del slider
	<input type="number" [(ngModel)]="widthSlider"/>	
	<button (click)="cargarSlider()">Cargar Slider</button>
	<button (click)="cargarSlider()">Resetear Slider</button>

	<div *ngIf="anchuraToSlider">
		<slider [anchura]="anchuraToSlider"
				[etiquetas]="captions"
				(conseguirAutor)="getAutor($event)"
		></slider>	
	</div>
	
{{autor.nombre}}
{{autor.website}} -->
</div> 
